</main>
<footer>
  <div class="social-links">
    <a href="https://github.com/Manikandan715" ><i class= "fab fa-github"></i></a>
    <a href="https://twitter.com/Manik10111654" ><i class= "fab fa-x-twitter"></i></a>
    <a href="https://www.instagram.com/manik_andan_._/" ><i class= "fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/manikandan-b-5b80aa233" ><i class= "fab fa-linkedin"></i></a>
   </div>
   <span>Copyright © <%= new Date().getFullYear() %> ALL RIGHTS RESERVED</span><br>
   <span>KEEP 💚 FARM..🌱</span>
</footer>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
crossorigin="anonymous"></script>
</body>
</html>
