<%- include ("partials/header.ejs") %>
    <div class="heading">
        <h1>About</h1>
        <p>MPROVING AGRICULTURAL PRACTICES CAN LEAD TO A SUSTAINABLE FUTURE FOR BOTH FARMERS AND THE PLANET.
        </p>
    </div>
    <div class="container2">
        <section class="aboutp">
            <div class="aboutp-image">
                <img src="/images/farms13.jpg">
            </div>
            <div class="aboutp-content">
                <h2>Adopting sustainable farming practices</h2>
                <p>Essential for enhancing crop yields, preserving natural resources, and ensuring food security 
                    for future generations. By integrating techniques such as crop rotation, cover cropping,
                     no-till farming, integrated pest management, and precision agriculture, farmers can cultivate 
                     healthy soils, resilient crops, and thriving ecosystems while mitigating the impacts of 
                     climate change. Embracing sustainability in agriculture is not only beneficial for farmers' 
                     livelihoods but also for the planet's well-being.</p><br>
                     <p>This content provides informative insights into sustainable farming practices, their 
                        benefits, and their role in addressing current agricultural challenges. It aims to 
                        educate and inspire farmers and stakeholders to adopt more sustainable approaches to 
                        agriculture.</p>
            </div>
        </section>
    </div>
    <%- include ("partials/footer.ejs") %>