<%- include ("partials/header.ejs") %>

<div class="container" style="background-color: rgb(214, 221, 221);">
    <div class="title">
      <h2>A LOOK AT THE BEETROOT GROWING PROCESS</h2>
      <p>Recent farming and agriculture work on the Beetroot making.</p>
    </div>
        <div class="sites-img">
          <img src="/images/farm8.jpg" alt="farming-image7">
        </div>
        <div class="design-title">
          <a href="#">BEETROOT GROWING
          </a>
          <p>Beetroot, which is also called “Garden beet,” is a sweet, healthy, antioxidant-rich vegetable. The anti-cancer and heart-healthy properties of beetroot come from these antioxidants, which are found in red pigments. Beetroot is usually easy to grow and is always one of the top vegetables that are grown in India.

            Let’s have a look at how beetroots are grown and what are the different varieties that are available in India for farming.</p><br>
            <p>Many types of soil can be used to grow garden beets, but deep, well-drained loamy and sandy loams are thought to be the best. Heavy soils are not good for growing beets because the roots are likely to grow in an asymmetrical way.

                For beetroot to grow best, the pH level should be between 6.3 and 7.5.
                
                Beets grow best in soil that is neutral, moist, and rich but not too acidic or alkaline.
                
                The soil should be soft and not have too much clay or sand.
                
                Ensure that the soil has enough nutrition to grow beetroot.</p><br>
                 <p>The beetroot seeds should be planted 3 weeks before the last frost date in the spring.Beets can be picked after 50 to 60 days.Beetroot plants need to be in a sunny spot with soil that has a lot of organic matter.Beets can be grown in pots, raised beds, or other containers.Soak the Beetroot seeds in water for 24 hours before planting them. This will help them grow faster.It can take up to two weeks for beetroot seeds to sprout.If the leaves of your beetroot are turning yellow, it means that the soil does not have enough nutrients. In such cases, you should buy quality nutrition.</p>
        </div>

        <%- include ("partials/footer.ejs") %>





