<%- include ("partials/header.ejs") %>

  <div class="container" style="background-color: rgb(214, 221, 221);">
    <div class="title">
      <h2>A LOOK AT THE COCOA GROWING PROCESS</h2>
      <p>Recent farming and agriculture work on the cocoa making.</p>
    </div>
        <div class="site-img">
          <img src="/images/farm2.jpg" alt="farming-image2">
        </div>
        <div class="design-title">
          <a href="#">COCOA GROWING
          </a>
          <p>Growing cocoa is no simple task, which is why we are working with cocoa farmers to help improve their 
            farms. 90% of the world’s cocoa beans are harvested on small, family-run farms with less than two hectares
             of land and an average yield of just 600-800 kg per year. 
            And most of this cocoa comes from West Africa.</p><br>
            <p>Low productivity, low farmer incomes and limited development in farming communities has created a
                 cycle that must be broken for cocoa farming to be sustainable.</p><br>
                 <p>Cocoa is also a delicate, sensitive plant. It requires high rainfall and temperatures to grow, as well as 
                    rainforest trees to offer shade and protection from too much light and damage caused by wind.
                     Because cocoa farms are sensitive to this type of climate,
                     they can only flourish in a narrow band of countries between 20 degrees north and south of the equator.</p>
        </div>
        
        <%- include ("partials/footer.ejs") %>





