<%- include ("partials/header.ejs") %>

  <div class="container" style="background-color: rgb(214, 221, 221);">
    <div class="title">
      <h2>A LOOK AT THE GUAVA PROCESS</h2>
      <p>Recent farming and agriculture work on the guava making.</p>
    </div>
        <div class="site-img">
          <img src="/images/farm5.png" alt="farming-image4">
        </div>
        <div class="design-title">
          <a href="#">GUAVA GROWING
          </a>
          <p>A wise farmer is one that knows the crop well before cultivation as it helps adopt the right practices and procedures that will lead to a high yield. So, we will discuss a few things like characteristics and some other important details about guava fruit first.

            As we all know, guava or Psidium guajava is a fruit that grows on evergreen trees belonging to the Myrtaceae family. The flesh of the guava fruit is typically white, yellow, or pink, based on colors guava is also known as red guava or pink guava, white guava, etc. and it contains numerous small, edible seeds at the center.
            
            </p><br>
            <p>Some popular guava fruit varieties include Allahabad Safeda, Lucknow 49, Lalit, and Sardar. Guava fruit is often known as a nutrient powerhouse because it is a rich source of vitamins A, C, and E, as well as dietary fiber and antioxidants.

                In addition to this, guava fruit is also rich in minerals like potassium, magnesium, and folate. All these nutrients bring tons of health benefits for those who consume this fruit regularly. No wonder why it enjoys substantial global demand. In domestic markets of India, guava fruit has huge demand as it is widely consumed both as fresh fruit and in processed forms.</p><br>
                 <p>On average, the guava crop needs 120 to 150 days to be ready to harvest. However, you need to learn about some signs that indicate that the crop is ready to harvest. For instance, the amrood fruit will not have a raw smell and it will have a nice pigmented light green color. One tree can easily give two bountiful crops per summer season. 

                 </p>
        </div>

        <%- include ("partials/footer.ejs") %>




