<%- include ("partials/header.ejs") %>

<div class="container" style="background-color: rgb(214, 221, 221);">
    <div class="title">
      <h2>A LOOK AT THE CABBAGE GROWING PROCESS</h2>
      <p>Recent farming and agriculture work on the Cabbage making.</p>
    </div>
        <div class="site-img">
          <img src="/images/farm4.jpg" alt="farming-image3">
        </div>
        <div class="design-title">
          <a href="#">CABBAGE GROWING
          </a>
          <p>It is leafy green or purple plant grown as annual vegetable crop. These are rich source of vitamin
             A and C also it contains minerals like phosphorus, potassium, calcium, sodium and iron. Cabbage 
             can be eaten as raw as well as in cook form. In India, cabbage is grown mainly in winter in the
              plains region.</p><br>
            <p>Immediately after transplanting, give first irrigation. Depending upon soil, climatic condition,
                 apply irrigation at interval of 10-15 days during winter season. Give adequate quantity of 
                 water to young seedling in vegetative stage. Heavy watering after head formation cause cracking
                     of heads.</p><br>
                 <p>Protect seedlings against pigeons with wire mesh, and use netting during the summer months 
                    to stop butterflies from laying their eggs on the leaves. It’s also worth growing nasturtiums
                     nearby as a sacrificial crop for cabbageworms, which will be more likely to eat the nasturtiums
                      instead of your cabbages. Mint can be used to help deter flea beetles.</p><br>
                      <p>That said, note that cabbage can be challenging for beginner gardeners to grow if you 
                        don’t have the right conditions; it only likes cool temperatures and can be a magnet
                         for some types of garden pests. Rotating the cabbage crop every few years avoids the 
                         buildup of soilborne diseases.</p>
        </div>

        <%- include ("partials/footer.ejs") %>





