<%- include ("partials/header.ejs") %>

<div class="container" style="background-color: rgb(214, 221, 221);">
    <div class="title">
      <h2>Modern agriculture is an ever-changing approach to agricultural innovations.</h2>
      <p>Recent farming and agriculture work on the Modern farming.</p>
    </div>
        <div class="site-img">
          <img src="/images/farm6.jpg" alt="farming-image5">
        </div>
        <div class="design-title">
          <a href="#">Modern farming
          </a>
          <p>Modern day Farming Method is also known as “industrial or conventional farming”. It is a highly mechanized and technology-driven approach to agriculture. To maximize yield, It emphasizes large-scale monoculture, utilizing genetically modified crops, synthetic fertilizers, and pesticides.</p><br>
            <p>The same philosophy of holism guides the approach of VK-NARDEP to sustainable agriculture also. Its approach is not piece-meal approach but a united approach to the problems of the farm as a whole and is particularly specific to the small farmers who are today facing the brunt of increasingly cost-intensive and energy-intensive ‘modern’ agriculture.</p><br>
                 <p>VK-nardep regularly conducts awareness programmes about Bio-Methanation plant - Shakthi Surabhi. These awareness camps help lay public and interested people to get awareness about these technology. The awareness camps are also organized in villages and community halls. Apart from that one day training camps are also conducted in which interested people are given an
                     in-depth study of Shakthi Surabhi technology and also hands-on-training. We also conduct meeting
                      for users of the technology. In these regular meets users share their experiences from which methods for 
                      optimum use of technology as well as improvement of designs are evolved.</p><br>
                      <p>"The celestials, human beings and demons, went to their Source. They sought the means to happiness. The Source through thunder spoke to them the syllable DA. 'Did you understand?' 'We understood,' the celestials said. 'You told us, "Be self-controlled (damyata)" 'Aum,' the Source said. 'You understood."<br><br>

                        One of the important points of difference between sustainable agriculture and chemicalised agriculture is that while the former is biomass based the latter is yield based. The dominant thinking for almost the last five decades, has concentrated on the reductionist target of yield and this in turn has resulted in agriculture becoming more and more single crop oriented. Monoculture of the mind bred monoculture in agriculture. This in turn has made the agricultural fields highly vulnerable to external factors—from invigorated pest attacks to market forces violently unstable and unpredictable.</p>
        </div>

        <%- include ("partials/footer.ejs") %>





